<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <form method="POST" action="{{ url_for('quotes') }}">
        <label for="search_term">Quotes Search:</label>
        <input type="text" id="search_term" name="search_term" placeholder="Enter search term" value="{{ search_term }}">
        <!--<input type="submit" value="Search">-->
    </form>

    <div id="search_results">
        <!-- Table for displaying search results -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quote</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ rows_html | safe }}  <!-- Use 'safe' filter to render HTML -->
            </tbody>
        </table>
    </div>
    <!-- Debug section to display rows_html -->
    <!--<div>
        {{ rows_html }}
    </div>-->
    <!-- Toast notification -->
    <div id="toast" class="toast">Copied to clipboard</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Function to handle dynamic searching
            function dynamicSearch() {
                var search_term = $("#search_term").val();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('quotes') }}",
                    data: { search_term: search_term },
                    success: function(data) {
                        $("#search_results").html(data);
                    }
                });
            }

            // Trigger dynamic search on keyup event
            $("#search_term").keyup(function() {
                dynamicSearch();
            });

            // Function to copy text to clipboard
            function copyToClipboard(text) {
                var tempInput = document.createElement("input");
                tempInput.value = text;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand("copy");
                document.body.removeChild(tempInput);

                // Show the toast notification
                $("#toast").fadeIn().delay(2000).fadeOut();
            }

            // Event handler for the copy button
            $(document).on("click", ".copy-button", function() {
                var textToCopy = $(this).data("copy-text");
                copyToClipboard(textToCopy);
            });
        });
    </script>
</body>
</html>
